.LinkSe{
    color:#ecf0f1;
    transition: all .2s ease-in-out;
}

.LinkSe:hover{
    color:#bdc3c7;
    transform: scale(1.03);
}
.a {
    text-decoration: none;
    color: #2c3e50;
}

.a:hover {
    text-decoration: none;
    color: #000000;
}